.f_sec{
    /* background: linear-gradient(rgb(85, 139, 158), black); */ /*modified on 7/6/26*/
    background:linear-gradient(rgb(203, 246, 241),rgb(105, 189, 214)) ;
    padding: 20px;
    text-align: center;
    color: rgb(250, 250, 250) !important;
}

